* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variablen */
:root {
    --background-color: #212529; /* initial */
    --background-dark: #212529;
    --background-light: #ffffffcc;
    --header-bg-color: #1a1a1a99;
    --header-bg-dark: #1a1a1a99;
    --header-bg-light: #ffffffcc;
    --text-color: #fff; /* initial */
    --text-color-light: #fff;
    --text-color-dark: #000;
    --link-color: #fff; /* initial */
    --link-color-light: #fff;
    --link-color-dark: #000;
    --accent-color: #d72b00;
    --text-font-family: Arial, sans-serif;
    --headline-font-family: Lucida, sans-serif;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-size: 1.4rem;
}
body:has(#darkmode:checked) {
    --background-color: var(--background-light);
    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
    --header-bg-color: var(--header-bg-light);
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}
li {
    list-style: none;
}

h1 {
    font-family: var(--headline-font-family);
    font-size: 5rem;
    font-weight: 300;
    line-height: 6rem;
}

.visually-hidden-focusable {
    visibility: hidden;
}
/* .visually-hidden-focusable:focus,
.visually-hidden-focusable:active {
    position: static;
    width: auto;
    height: auto;
    margin: 1rem;
    padding: 0.5rem 1rem;
    clip-path: none;
    overflow: visible;
    background: #005fcc;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
} */

/* HEADER  / NAVI */
header {
    background-color: var(--header-bg-color);
    backdrop-filter: blur(10px);
    padding: 1rem;
    position: sticky;
    top: 0;
    height: 80px;
    padding: 0 50px 0 50px;
    border-bottom: 1px solid #495057;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* STAGE / HERO */
.stage {
    display: flex;
}
.stage__text {
    font-size: 24px;
}
.stage__content {
    padding: 0 30px 0 0;
    width: 55%;
}
.stage__content h1 {
    margin-bottom: 20px;
}
.stage__content span {
    color: var(--accent-color);
}
.stage__image {
    width: 45%;
}
.stage__headline {
    font-family: var(--headline-font-family);
    font-size: 48px;
}

.stage_image {
    width: 45%;
    height: 35rem; /* oder z. B. 300px oder 40vh */
    overflow: hidden;
}

.stage_image img,
.stage_image picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 50px 0 50px;
}
section {
    margin: 50px;
    padding: 0;
}

.card {
    background-color: dodgerblue;
    flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: start;
}

.card h2 {
    margin: 0 auto 1rem 0;
}
.card .card-content img {
    max-width: 100%;
}
.card .card-content p {
    line-height: 1.5;
}

@media screen and (min-width: 600px) {
    .card {
        padding: 2rem;
    }
    /*
    .card .card-content {
        flex-direction: row;
    }
    */
    .card .card-content img {
        max-width: 300px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        padding: 2rem;
    }

    .card .card-content {
        flex-direction: row;
    }

    .card .card-content img {
        max-width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .card .card-content {
        flex-direction: column;
    }
    main {
        flex-direction: row;
    }
}

footer {
    height: 100px;
}

.navigation__menu {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
}

.navigation__link li {
    color: #fff;
}
.navigation__link--checkbox {
    display: flex;
}
.navigation__link--checkbox input {
    margin-left: 10px;
}
